<section class="msi-slides">
          <h2>Icons vector</h2>
          <p>small: 
          <span class="msi-icons-s msi-icons-bubble"></span>
          <span class="msi-icons-s msi-icons-bulb"></span>
          <span class="msi-icons-s msi-icons-cup"></span>
          <span class="msi-icons-s msi-icons-display"></span>
          <span class="msi-icons-s msi-icons-edit"></span>
          <span class="msi-icons-s msi-icons-megaphone"></span>
          <span class="msi-icons-s msi-icons-settings"></span>
          <span class="msi-icons-s msi-icons-star"></span>
          <span class="msi-icons-s msi-icons-study"></span>
          <span class="msi-icons-s msi-icons-user"></span>
          </p>
          </section>
           <section class="msi-slides">
           <h2>Icons vector</h2>
          <p>medium: 
          <span class="msi-icons-m msi-icons-bubble"></span>
          <span class="msi-icons-m msi-icons-bulb"></span>
          <span class="msi-icons-m msi-icons-cup"></span>
          <span class="msi-icons-m msi-icons-display"></span>
          <span class="msi-icons-m msi-icons-edit"></span>
          <span class="msi-icons-m msi-icons-megaphone"></span>
          <span class="msi-icons-m msi-icons-settings"></span>
          <span class="msi-icons-m msi-icons-star"></span>
          <span class="msi-icons-m msi-icons-study"></span>
          <span class="msi-icons-m msi-icons-user"></span>
          </p>
          </section>
           <section class="msi-slides">
           <h2>Icons vector</h2>
          <p>large: 
          <span class="msi-icons-l msi-icons-bubble"></span>
          <span class="msi-icons-l msi-icons-bulb"></span>
          <span class="msi-icons-l msi-icons-cup"></span>
          <span class="msi-icons-l msi-icons-display"></span>
          <span class="msi-icons-l msi-icons-edit"></span>
          <span class="msi-icons-l msi-icons-megaphone"></span>
          <span class="msi-icons-l msi-icons-settings"></span>
          <span class="msi-icons-l msi-icons-star"></span>
          <span class="msi-icons-l msi-icons-study"></span>
          <span class="msi-icons-l msi-icons-user"></span>
          </p>
        </section>
        </section>
          <section class="msi-slides">
        <section class="msi-slides">
          <h2>Icons browsers</h2>
          <p>small: 
          <span class="msi-icons-s msi-icons-ie"></span>
          <span class="msi-icons-s msi-icons-safari"></span>
          <span class="msi-icons-s msi-icons-chrome"></span>
          <span class="msi-icons-s msi-icons-earth"></span>
          <span class="msi-icons-s msi-icons-mozilla"></span>
          <span class="msi-icons-s msi-icons-maxthon"></span>
          <span class="msi-icons-s msi-icons-navigator"></span>
          <span class="msi-icons-s msi-icons-opera"></span>
          <span class="msi-icons-s msi-icons-firefox"></span>
          </p>
          </section>
           <section class="msi-slides">
           <h2>Icons browsers</h2>
          <p>medium: 
          <span class="msi-icons-m msi-icons-ie"></span>
          <span class="msi-icons-m msi-icons-safari"></span>
          <span class="msi-icons-m msi-icons-chrome"></span>
          <span class="msi-icons-m msi-icons-earth"></span>
          <span class="msi-icons-m msi-icons-mozilla"></span>
          <span class="msi-icons-m msi-icons-maxthon"></span>
          <span class="msi-icons-m msi-icons-navigator"></span>
          <span class="msi-icons-m msi-icons-opera"></span>
          <span class="msi-icons-m msi-icons-firefox"></span>
          </p>
          </section>
           <section class="msi-slides">
           <h2>Icons browsers</h2>
          <p>large: 
          <span class="msi-icons-l msi-icons-ie"></span>
          <span class="msi-icons-l msi-icons-safari"></span>
          <span class="msi-icons-l msi-icons-chrome"></span>
          <span class="msi-icons-l msi-icons-earth"></span>
          <span class="msi-icons-l msi-icons-mozilla"></span>
          <span class="msi-icons-l msi-icons-maxthon"></span>
          <span class="msi-icons-l msi-icons-navigator"></span>
          <span class="msi-icons-l msi-icons-opera"></span>
          <span class="msi-icons-l msi-icons-firefox"></span>
          </p>
        </section>
        <section class="msi-slides" data-run-in-terminal="code/example1/src/index.coffee"
        data-run-in-terminal-bin="coffee"
          data-run-in-terminal-args=" --compile  ">
          <h2>Coffe Hello Derp</h2>
        </section>