extend layout

block slides

    // hier die folien, die in ./slides/ als html file definiert sind, einbinden
    include ./slides/titel.html
    include ./slides/agenda.html
    // Einleitung
    section
        include ./slides/kapitel/einleitung/1_einstieg.html
        include ./slides/kapitel/einleitung/2_historie.html
        include ./slides/kapitel/einleitung/3_probleme.html
    // demo zwischendrin iwann
    include ./slides/demo.html
    // CoffeeScript
    section
        include ./slides/kapitel/coffeescript/1_einstieg.html
        include ./slides/kapitel/coffeescript/2_compilerUndSyntax.html
        include ./slides/kapitel/coffeescript/3_klassen.html
        include ./slides/kapitel/coffeescript/4_literate.html
        include ./slides/kapitel/coffeescript/5_cakeSourcemaps.html
    // Zukunft von CoffeeScript
    section
        include ./slides/kapitel/zukunftCoffeescript/1_einstieg.html
    // Fazit
    section
        include ./slides/kapitel/fazit/1_einstieg.html
    
    
    include ./slides/ende.html