



.msi-icons-s {
    display:inline-block;
    width:32px;
    height:32px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:32px 32px;
}

.msi-icons-m {
    display:inline-block;
    width:64px;
    height:64px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:64px 64px;
}
.msi-icons-l {
    display:inline-block;
    width:128px;
    height:128px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:128px 128px;
}
/* linecons-free-vector-icons-pack */
.msi-icons-bubble {
     background-image: url('../img/linecons-free-vector-icons-pack/Bubble, chat, comment, speech, talk icon.svg');
}
.msi-icons-bulb {
     background-image: url('../img/linecons-free-vector-icons-pack/Buld, idea, light icon.svg');
}
.msi-icons-cup {
     background-image: url('../img/linecons-free-vector-icons-pack/Cup icon.svg');
}
.msi-icons-display {
     background-image: url('../img/linecons-free-vector-icons-pack/Display, monitor, screen, video icon.svg');
}
.msi-icons-edit {
     background-image: url('../img/linecons-free-vector-icons-pack/Edit, pen, pencil, write icon.svg');
}
.msi-icons-megaphone {
     background-image: url('../img/linecons-free-vector-icons-pack/Megaphone icon.svg');
}
.msi-icons-settings {
     background-image: url('../img/linecons-free-vector-icons-pack/Settings icon.svg');
}
.msi-icons-star {
     background-image: url('../img/linecons-free-vector-icons-pack/Star icon.svg');
}
.msi-icons-study {
     background-image: url('../img/linecons-free-vector-icons-pack/Study icon.svg');
}
.msi-icons-user {
     background-image: url('../img/linecons-free-vector-icons-pack/User icon.svg');
}

/* Web browsers */
.msi-icons-ie {
     background-image: url('../img/Web browsers/16 colors, browser, internet explorer, icon.png');
}
.msi-icons-safari {
     background-image: url('../img/Web browsers/Apple, browser, compass, safari icon.png');
}
.msi-icons-chrome {
     background-image: url('../img/Web browsers/Browser, chrome, google, logo icon.png');
}
.msi-icons-earth {
     background-image: url('../img/Web browsers/Browser, earth icon.png');
}
.msi-icons-mozilla {
     background-image: url('../img/Web browsers/Browser, earth, flock, mozilla, theworld icon.png');
}
.msi-icons-maxthon {
     background-image: url('../img/Web browsers/Browser, maxthon icon.png');
}
.msi-icons-navigator {
     background-image: url('../img/Web browsers/Browser, navigator, netscape icon.png');
}
.msi-icons-opera {
     background-image: url('../img/Web browsers/Browser, opera icon.png');
}
.msi-icons-firefox {
     background-image: url('../img/Web browsers/Firefox, mozilla icon.png');
}