/*
color scheme:
FF7400	BF7130	A64B00	FF9640	FFB273
*/
.msi-slides  {
    text-align:left;
    padding-left: 10% !important;
}
.msi-slides > h2 {
    color:#A64B00 !important;
}

ol.msi-agenda {
    font-size: 40px;
}
ol.msi-agenda>ul {
    font-size:30px;
}

.msi-layout{
    display: table;
}
.msi-layout-item {
    display: table-cell;
}
.msi-layout-item-20 {
    display:table-cell;
    width: 20%
}
.msi-layout-item-30 {
    display:table-cell;
    width: 30%
}
.msi-layout-item-50 {
    display:table-cell;
    width: 50%
}
.msi-layout-item-60 {
    display:table-cell;
    width: 60%
}
.msi-layout-item-80 {
    display:table-cell;
    width: 80%
}