/*
color scheme:
FF7400	BF7130	A64B00	FF9640	FFB273
*/
.cover {
    background-color:white;
    height:600px;
    width:200px;
    position:absolute;
    top:-200px;
    left:-200px;
}
.msi-logo {
     background-image: url('../img/logo/coffeescript.png');
     display:inline-block;
    width:300px;
    height:300px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:300px 300px;
    position: absolute;
    top: 10%;
    right:20%;
}

table.comsyn > thead > tr> th:last-of-type, table.comsyn > tbody > tr> td:last-of-type {
    padding-left:15%;
}
.sourcem  {
    display:inline-block;
    margin-right:4% !important;
}
.msi-slides  {
    text-align:left;
    padding-left: 10% !important;
}
.msi-slides > h2 {
    color:#A64B00 !important;
}

ol.msi-agenda {
    font-size: 40px;
}
ol.msi-agenda>ul {
    font-size:30px;
}

.msi-layout{
    display: table;
}
.msi-layout-item {
    display: table-cell;
}
.msi-layout-item-20 {
    display:table-cell;
    width: 20%
}
.msi-layout-item-30 {
    display:table-cell;
    width: 30%
}
.msi-layout-item-50 {
    display:table-cell;
    width: 50%
}
.msi-layout-item-60 {
    display:table-cell;
    width: 60%
}
.msi-layout-item-80 {
    display:table-cell;
    width: 80%
}
iframe.timeline {
    width: 100%;
    min-height: 800px;
} 
.timeline-slide {
    width:100% !important;
    padding-left:0 !important;
}
.timeline-slide h2 {
    padding-left:10% !important;
}