/* Styles from reveal.js plugin run-in-terminal */
section[data-run-in-terminal] .container {
    overflow:hidden !important;
    background-color:black !important;
  
}
.reveal blockquote {
    margin:0 !important;
}
.reveal table {
    min-width:70%;
    margin:0 !important;
    border-collapse:inherit !important;
}

.progress {
    height: 8px !important;
}
.progress > span {
    background-color:#A64B00 !important;
}
.slide-number {
    width:90px !important;
    height:50px !important;
    font-size:45px !important;
    text-align: center;
}

/* Styles from reveal.js*/
.reveal{
      background-image: url('../img/logo/coffeescript.png');
    background-repeat: no-repeat;
     background-size: 128px 128px;
     background-position: 50px 50px;
}