/* Styles from reveal.js plugin run-in-terminal */
section[data-run-in-terminal] .container {
    overflow:hidden !important;
    background-color:black !important;
  
}
.progress {
    height: 8px !important;
}
.progress > span {
    background-color:#A64B00 !important;
}
.slide-number {
    width:90px !important;
    height:50px !important;
    font-size:45px !important;
    text-align: center;
}

/* Styles from reveal.js*/
.reveal{
       background-image: url('../img/linecons-free-vector-icons-pack/Cup icon.svg');
    background-repeat: no-repeat;
     background-size: 128px 120px;
     background-position: 50px 50px;
}