<section class="msi-slides">
          <h2>Agenda</h2>
          <ol class="msi-agenda">
              <li>Einleitung</li>
                <ul>
              <li>Historie von Javascript || Probleme von Javascript</li>
              </ul>
              <!--ul>
                        <li>Historie von Javascript</li>
                         <li>Probleme von Javascript</li>
              </ul-->
              <li>CoffeeScript</li>
             <ul> <li>Compiler und Syntax || Klassen || Literate Programming || Cake und Sourcemaps</li> </ul>
               <!--ul>
                        <li>Compiler und Syntax</li>
                         <li>Klassen</li>
                         <li>Literate Programming</li>
                         <li>Cake und Sourcemaps</li>
                         
              </ul-->
              <li>Zukunft von CoffeeScript</li>
             <ul> <li>ECMA 5. und 6. Edition || ...</li> </ul>
               <!--ul>
                        <li>ECMA 5. und 6. Edition</li>
                         <li>...</li>
                         <li>...</li>
              </ul-->
              <li>Fazit</li>
          </ol>
        </section>