<section class="msi-slides" >
<h2>Beispielprojekt Moviedatbase</h2>
<iframe src="http://#{Ip +":5001"}" width="1024" height="300"></iframe -->
<p>github Repository: TODO einfügen!</p>
<aside class="notes">WAW</aside>
</section>