<section>
<section class="msi-slides" >
<h2>Beispielprojekt Moviedatbase</h2>
<iframe src="http://#{Ip +":5001"}" width="1024" height="400"></iframe -->
<p><a href="https://github.com/chappy2/Moviedatabase">https://github.com/chappy2/Moviedatabase</a></p>
<aside class="notes">WAW</aside>
</section>
include vergleich.html
</section>

